In [1]:
import pandas as pd
import numpy as np

In [5]:
unet = pd.read_csv('./unet_stat.csv', index_col=0)
linear = pd.read_csv('./gnn_linear_stat.csv', index_col=0)
pas = pd.read_csv('./gnn_pass_stat.csv', index_col=0)

In [6]:
unet

,Name,Mean,Mean without backgroud,Dice Coefficient (label 1),Dice Coefficient (label 0)
0,1178184813,0.977016,0.582942,0.736530,0.987984
1,1112425214,0.979377,0.622806,0.767567,0.989210
2,1103364672,0.980481,0.633381,0.775546,0.989797
3,1112441303,0.976733,0.622461,0.767305,0.987754
4,1132400990,0.975723,0.610724,0.758322,0.987220
5,1105185175,0.974944,0.604099,0.753194,0.986802
6,1082205524,0.976903,0.600646,0.750504,0.987891
7,1126357612,0.862086,0.026253,0.051162,0.925639
8,1132388375,0.974717,0.596470,0.747236,0.986693

In [8]:
linear

,Name,Mean,Mean without backgroud,Dice Coefficient (label 1),Dice Coefficient (label 0)
0,1178184813,0.980345,0.631226,0.773928,0.989726
1,1112425214,0.981006,0.661714,0.796423,0.990038
2,1103364672,0.982167,0.669698,0.802178,0.990663
3,1112441303,0.980064,0.670356,0.802650,0.989502
4,1132400990,0.981582,0.679095,0.808882,0.990325
5,1105185175,0.979236,0.654448,0.791138,0.989075
6,1082205524,0.981082,0.658578,0.794148,0.990086
7,1126357612,0.960310,0.286213,0.445048,0.979419
8,1132388375,0.979909,0.662645,0.797098,0.989431

In [9]:
pas

,Name,Mean,Mean without backgroud,Dice Coefficient (label 1),Dice Coefficient (label 0)
0,1178184813,0.978198,0.610833,0.758406,0.988584
1,1112425214,0.981362,0.661820,0.796500,0.990234
2,1103364672,0.981959,0.667863,0.800861,0.990552
3,1112441303,0.979134,0.664764,0.798628,0.988997
4,1132400990,0.980363,0.663470,0.797694,0.989681
5,1105185175,0.979648,0.665847,0.799410,0.989280
6,1082205524,0.980789,0.661654,0.796380,0.989919
7,1126357612,0.941146,0.244602,0.393060,0.969074
8,1132388375,0.980651,0.674466,0.805589,0.989819